h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.content {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    padding: 30px;
    border-radius: 10px;
    line-height: 40px;
}
#plus{
    font-size: 40px;
    margin-top: 5%;
    position: relative;
    left: 90%;
}